@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap");

:root {
  /*================================== FONT-SIZES ================================================ */
  --font-sm: 16px;
  --font-md: 22px;
  --font-lg: 24px;
  --font-xl: 36px;
  --font-xxl: 64px;
  --font-xxxl: 120px;
  /*================================== COLOR-CLASS ================================================ */
  --white: #fafafa;
  --black: rgba(0, 0, 0, 1);
}

body {
  font-family: "Raleway", sans-serif !important;
}
.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-xxl {
  font-size: var(--font-xxl) !important;
}

.font-xxxl {
  font-size: var(--font-xxxl) !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extra-bold {
  font-weight: 900 !important;
}

.text-white {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.bg-color-white {
  background-color: var(--white) !important;
}

.bg-color-black {
  background-color: var(--black) !important;
}

/* ================================== COMMON CLASS START  ================================================== */
.my-linear-gradient {
  background: linear-gradient(123.61deg, #c5995d 7.36%, #bd8334 90.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.overflow-hidden {
  overflow: hidden;
}
.side-heading {
  font-size: var(--font-xxl);
  font-weight: 900;
}

.heading {
  font-size: var(--font-xxl);
  font-weight: 400;
}

.sub-heading {
  font-size: var(--font-xl);
  font-weight: 400;
  color: var(--black);
}

.small-heading {
  font-size: var(--font-lg);
  font-weight: 400;
  color: var(--black);
}

.para {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--white);
}

.common-btn {
  font-size: var(--font-md);
  font-weight: 700;
  color: var(--white);
  background: linear-gradient(123.61deg, #c5995d 7.36%, #bd8334 90.8%);
}

.common-btn:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-7 {
  opacity: 70%;
}

/* ================================== COMMON CLASS END ================================================== */
/* ===================================CAROUSEL-CSS-START================================================= */
.carousel {
  background: rgba(234, 236, 235, 1);
}

#previous-icon {
  position: absolute;
  left: -100px;
  top: 50%;
  background-image: url("./assets/images/svg/prev.svg");
  background-repeat: no-repeat;
  width: 57px;
  height: 57px;
  background-size: cover;
  border: 1px solid var(--yellow);
}

#next-icon {
  background-image: url("./assets/images/svg/next.svg");
  position: absolute;
  right: -100px;
  top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  border: 1px solid var(--yellow);
}
.slick-dots li {
  width: 17px !important;
  height: 17px !important;
}

.slick-dots li button:before {
  color: rgba(192, 139, 66, 1) !important;
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 70% !important;
}

.team-image {
  right: 0;
  top: 25%;
}

/* ===================================CAROUSEL-CSS-ENDS ==================================================*/
/* ===================================ROADMAP-CSS-START ==================================================*/
.roadmap-circle {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  background: rgba(192, 139, 66, 1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.loadmap-line {
  width: 6px;
  height: 100%;
  background-color: rgba(192, 139, 66, 1);
}

.w-66 {
  width: 66%;
}

.w-55 {
  width: 55%;
}

/* ===================================ROADMAP-CSS-ENDS ==================================================*/
/* =====================================NAVBAR-CSS======================== */
/* SCROLL TOP CSS START */
.header-icons img {
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.navbar-section {
  height: 100px;
}

.header-icons img:hover {
  box-shadow: 0px 0px 10px #fff;
  transform: translateY(-8px);
}

#scroll {
  position: fixed;
  z-index: 999999;
  right: 20px;
  top: 88%;
  cursor: pointer;
  width: 59px;
  height: 59px;
  background-color: var(--yellow);
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background-image: url("./assets/images/svg/up-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: moves 3s ease-in-out infinite;
}

@keyframes moves {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

#scroll:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 20px white;
}

#scroll:hover span {
  border-bottom-color: white;
}

.z-index {
  position: relative !important;
  z-index: 10;
}

/* ===================================== UI-CSS-ONLY ====================================== */
:root {
  --gray: rgba(234, 236, 235, 1);
  --brown: rgba(192, 139, 66, 1);
}

.bg-color-gray {
  background-color: var(--gray);
}

.about-us-section {
  background-image: url("./assets/images/png/about-us-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 6px;
}

.side-text {
  top: 7%;
  right: 0;
  width: 5%;
  z-index: 0;
}

.side-text-2 {
  width: 10%;
  top: 15%;
  z-index: 0;
}

.side-text-3 {
  top: 7%;
  right: 0;
  width: 4%;
  z-index: 0;
}

.side-text-4 {
  width: 5%;
  top: 36%;
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.click-btn {
  background: linear-gradient(
    123.61deg,
    rgba(197, 153, 93, 0.2) 7.36%,
    rgba(189, 131, 52, 0.2) 90.8%
  );
  cursor: pointer;
}

.click-btn button {
  font-size: var(--font-md);
  font-weight: 700;
}

.click-btn:hover {
  opacity: 0.9;
}

.faq-border {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.footer-svgs a img {
  transition: all 0.4s ease-in-out;
}

.footer-svgs a img:hover {
  transform: scale(1.09) translateY(-10px);
}

.roadmap-star-img {
  margin: -8px 0px;
}

.roadmap-line {
  width: 4px;
  height: 100%;
  background-color: var(--brown);
}

section {
  overflow: hidden;
}

@media (max-width: 1499.98px) {
  .side-text {
    top: 16%;
    width: 6%;
  }

  .side-text-2 {
    width: 7%;
    top: 57%;
  }

  .side-text-3 {
    top: 10%;
    width: 5%;
  }
}

@media (max-width: 1399.98px) {
  .about-us-section {
    background-position: center 2px;
  }

  .side-text-2 {
    width: 10%;
    top: 15%;
  }
}

@media (max-width: 1199.98px) {
  .side-text-2 {
    width: 16%;
    top: 12%;
  }

  .side-text-3 {
    top: 20%;
    width: 8%;
  }

  .side-text-4 {
    width: 8%;
  }
}

@media (max-width: 991.98px) {
  .about-us-section {
    background-image: none;
    background: rgba(60, 38, 10, 1);
  }

  .about-us-img img {
    visibility: visible !important;
  }
}

@media (max-width: 767.98px) {
  .side-text-2 {
    width: 25%;
    top: 40%;
  }

  .side-text-3 {
    top: 20%;
    width: 11%;
  }

  .side-text-4 {
    width: 13%;
  }
}

@media (max-width: 575.98px) {
  .side-text-2 {
    width: 20%;
    top: 26%;
  }

  .side-text-4 {
    width: 16%;
    top: 44%;
  }

  .roadmap-star-img {
    width: 58px;
  }

  #previous-icon {
    display: none;
  }

  #next-icon {
    display: none;
  }
}

/* ===================================== UI-CSS-ONLY ====================================== */
/* HEADER OVERLAY STYLES  */
.navbar-wrapper {
  /* background-color: rgb(143, 202, 66); */
}

.navbar-wrapper .nav-list-items a {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar-wrapper .nav-list-items a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(240, 240, 240);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-wrapper .nav-list-items a:hover::after {
  width: 100%;
}

/* HAMBURGER ICON STYLE  */
@media (max-width: 1199.98px) {
  /* NAVBAR OVERLAY TOGGLE */

  .navbarwrapper {
    position: relative;
    width: 29px;
    cursor: pointer;
    height: 25px;
    z-index: 15;
  }

  .first {
    background-color: var(--black);
    width: 100%;
    height: 3px;
    position: absolute;
    border-radius: 20px;
    right: 0;
  }

  .second {
    background-color: var(--black);
    width: 70%;
    height: 3px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    margin-top: 10px;
  }

  .third {
    background-color: var(--black);
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    margin-top: 20px;
  }

  .animate .second {
    opacity: 0;
  }

  .animate .first {
    top: 11px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
  }

  .animate .third {
    top: -8px;
    transform: rotate(-45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
  }
}

@media (max-width: 1199.98px) {
  .overlay-nav {
    transition: 0.7s ease !important;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.overlay-active {
  z-index: 10;
  transition: 0.7s ease !important;
  opacity: 1;
  pointer-events: all;
}

.pt-30 {
  padding-top: 30px;
}

.object-fit {
  object-fit: contain;
}

.mb-80 {
  margin-bottom: 80px;
}

.p-10 {
  padding: 10px;
}

.overlay-nav li {
  transform: translateY(10px);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  list-style-type: none;
}

.overlay-active ul li:nth-child(1) {
  animation: animate_links 0.9s;
  animation-delay: 0.2s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(2) {
  animation: animate_links 0.9s;
  animation-delay: 0.4s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(3) {
  animation: animate_links 0.9s;
  animation-delay: 0.6s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(4) {
  animation: animate_links 0.9s;
  animation-delay: 0.8s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(5) {
  animation: animate_links 0.9s;
  animation-delay: 1s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(6) {
  animation: animate_links 0.9s;
  animation-delay: 1.2s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.overlay-active ul li:nth-child(7) {
  animation: animate_links 0.9s;
  animation-delay: 1.2s;
  transform: translateY(10px);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate_links {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.h-screen {
  height: 100vh;
}

.fix-screen-height {
  height: 100vh;
  overflow: hidden;
}

/* HEADER OVERLAY STYLES  */

/* ========================================================== MY-CSS =============================================================== */
.nav-items-list .nav-links {
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--black);
}

.nav-items-list .nav-links:hover {
  background: linear-gradient(123.61deg, #c5995d 7.36%, #bd8334 90.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-items-list .nav-links {
  position: relative;
}

.nav-items-list .nav-links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(123.61deg, #c5995d 7.36%, #bd8334 90.8%);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-items-list .nav-links:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

/* ===================================== MY-CSS-ENDS ===================================================== */
/*====================================== Media-queries-start ======================================== */

@media (min-width: 1499.98px) and (max-width: 1699.98px) {
  .side-text {
    top: 17% !important;
  }
}

@media (max-width: 1499.98px) {
  :root {
    --font-sm: 16px;
    --font-md: 22px;
    --font-lg: 24px;
    --font-xl: 36px;
    --font-xxl: 64px;
    --font-xxxl: 120px;
  }

  #next-icon {
    right: -50px !important;
  }

  #previous-icon {
    left: -50px !important;
  }
}

@media (max-width: 1399.98px) {
  :root {
    --font-sm: 16px;
    --font-md: 16px;
    --font-lg: 23px;
    --font-xl: 34px;
    --font-xxl: 58px;
    --font-xxxl: 110px;
  }

  .px-32 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-sm: 16px;
    --font-md: 22px;
    --font-lg: 23px;
    --font-xl: 28px;
    --font-xxl: 49px;
    --font-xxxl: 98px;
  }

  #next-icon {
    right: -31px !important;
    width: 40px !important;
    height: 40px !important;
  }

  #previous-icon {
    left: -31px !important;
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-sm: 16px;
    --font-md: 16px;
    --font-lg: 23px;
    --font-xl: 28px;
    --font-xxl: 49px;
    --font-xxxl: 88px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-sm: 16px;
    --font-md: 20px;
    --font-lg: 22px;
    --font-xl: 28px;
    --font-xxl: 40px;
    --font-xxxl: 78px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 14px;
    --font-md: 20px;
    --font-lg: 14px;
    --font-xl: 20px;
    --font-xxl: 40px;
    --font-xxxl: 78px;
  }

  .nav-logo {
    width: 68%;
  }

  .ms-29 {
    margin-left: 29px !important;
  }

  .w-55 {
    width: 55%;
  }

  .slick-dots {
    bottom: -34px;
  }
}
/*====================================== Media-queries-end =========================================== */
